fastapi
uvicorn
streamlit
fastmcp
PyGithub
gitpython
python-dotenv
langchain-core
langchain-community
langchain-openai
langchain-tavily
langchain-text-splitters
langchain-mcp-adapters
langgraph
sentence-transformers
aiosqlite
markdown
numpy
psutil
requests
websockets
pydantic
